/*container*/
*{
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container::after{
    display:table;
    content:"";
    clear:both;
}

.container{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
/*header style*/
header {
    color:white;
    padding:20px;
    background-color: rgb(76, 155, 245);
    text-align: center;
}
/*left box style*/
.left{
    background-color: rgb(240, 37, 37);
    color:white;
    width:100%;
    padding:20px;
    text-align: center;
    height:200px;
}
/*main box style*/
.main {
    background-color: rgb(35, 165, 3);
    color:white;
    width:100%;
    padding:20px;
    text-align: center;
    height:200px;
}
/*right box style*/
.right{
    background-color: rgb(226, 223, 31);
    color:white;
    width:100%;
    padding:20px;
    text-align: center;
    height:200px;
}
/*footer box style*/
footer{
    color:white;
    padding:20px;
    background-color: rgb(116, 2, 110);
    text-align: center;
}
/*button box style*/
.button{
    padding:20px 0px;
    background-color: rgb(240, 135, 37);
    text-align: center;
    color:white;
    border:none;
    width:100%;
    margin-top:2%;
} 

@media screen and (min-width:600px) {
    .left{
        float:left;
        width:25%;
    }

    .main{
        width:50%;
        float:left; 
    }

    .right {
        width:25%;
        float:left;
    }

    .button{
        float:left;
        width:24%;
        margin-left:1%;
        margin-top:0;
    }
}